@page "/updateproject/{ProjectID:int}"
<div class="row">
    <div class="col">
        <h1>Editeaza proiect</h1>
    </div>
</div>
<div class="row">
    <div class="col-2">

    </div> 
    <div class="col-8">

    </div>
    <div class="col-2">

    </div>
</div>


@code {
    [Parameter]
    public int ProjectID { get; set; }
}
